* {
    margin: 0;
    padding: 0;
}

:root {
    --cell-size: 7rem;
    --darkblue: #0c1f2d;
    --darkgreen: #12644e;
    --lightgreen: #6ad6c8;
    --yellow: #fdf2c9;
    --orange: #ffd147;
}

.row {
    display: flex;
    height: 7rem;
}

.cell {
    display: flex;
    text-align: center;
    font-size: larger;
    vertical-align: top;
    flex-direction: column;
    width: var(--cell-size);
    justify-content: flex-start;
    transition: 125ms all;
    overflow-y: scroll;
    scrollbar-width: none;
}

.cell::-webkit-scrollbar {
    display: none;
}

#calendar {
    border-radius: 10px;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
}

#days {
    display: flex;
    background-color: var(--lightgreen);
    justify-content: space-evenly;
}

.day {
    height: var(--cell-size) / 2;
    width: var(--cell-size);
    text-align: center;
}

#header {
    display: flex;
    justify-content: space-between;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    background-color: var(--lightgreen);
    align-items: center;
    user-select: none;
    height: 4rem;
}

#header>div {
    display: inline;
}

#header-date {
    text-align: center;
}

.clickable {
    cursor: pointer;
    border-radius: 5px;
}

.clickable:hover {
    transition: all 125ms ease-in;
    background-color: var(--darkgreen);
}

.feed {
    margin: 1px 1px;
    border-radius: 5px;
    font-size: medium;
}

.feed:hover {
    cursor: pointer;
}

legend {
    margin-top: 10px;
}

label:hover {
    cursor: pointer;
}

label {
    display: inline-block;
    margin: 0px 10px;
}

fieldset {
    display: flex;
    flex-wrap: wrap;
}

@media (max-width: 1200px) {
    .day {
        height: calc(var(--cell-size) / 3.5);
        width: calc(var(--cell-size) / 1.5);
        overflow-wrap: break-word;
    }
    .row {
        height: 5rem;
    }
    #header-date {
        height: calc(var(--cell-size) / 2);
    }
    .cell {
        height: calc(var(--cell-size) / 1.5);
        width: calc(var(--cell-size) / 1.5);
    }
    .feed {
        font-size: small;
    }
}

@media (max-width: 850px) {
    .day {
        height: calc(var(--cell-size) / 4);
        width: calc(var(--cell-size) / 2);
        overflow-wrap: break-word;
    }
    .row {
        height: 3rem;
    }
    #header-date {
        height: calc(var(--cell-size) / 2);
    }
    .cell {
        height: calc(var(--cell-size) / 2);
        width: calc(var(--cell-size) / 2);
    }
    #header .clickable {
        width: 2rem;
        height: 2rem;
    }
    #calendar {
        font-size: small;
    }
}

@media (max-width: 700px) {
    .day {
        height: calc(var(--cell-size) / 4.5);
        width: calc(var(--cell-size) / 2.5);
        overflow-wrap: break-word;
    }
    #header-date {
        height: calc(var(--cell-size) / 2.5);
    }
    .cell {
        height: calc(var(--cell-size) / 2.5);
        width: calc(var(--cell-size) / 2);
    }
}