* {
    margin: 0;
    padding: 0;
    font-weight: normal;
    font-family: 'Gill Sans', 'Gill Sans MT', 'Calibri', 'Trebuchet MS', sans-serif;
}

body {
    background-color: var(--yellow);
}

:root {
    --darkblue: #0C1F2D;
    --lightbrown: #EDD382;
    --darkgreen: #12644E;
    --lightgreen: #6AD6C8;
    --yellow: #FDF2C9;
    --orange: #FFD147;
}
  

/* top bar */

header {
    padding-left: 2%;
    padding-right: 2%;
    background-color: var(--orange);
    height: 5rem;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
}


/* header elements */
div.site_logo {
    flex-basis: 10%;
    height: 3.5rem;
    width: 3.5rem;
}
img {
    max-width: 100%;
    max-height: 100%;
}

div.site_name {
    flex-basis: 80%;
    font-size: 2.25rem;
    text-align: center;
}
a.site_name {
    text-decoration: none;
    color: black;
}

ul.header_options{
    flex-basis:10%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
}
div.display_mode {
    display: none;
    font-size: 1 rem;
    color: black;
    flex-basis: 0%;
}
div.log_out{
    flex-basis:100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: right;
}
img.log_out{
    width: 1.75rem;
    height: 1.75rem;
    cursor: pointer;
}


/* navigation zone */
nav {
    border-top: 0.2rem solid black;
    border-bottom: 0.2rem solid black;
    background-color: var(--orange);
    height: 3.5rem;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
}

/* navigation elements */
ul.menu{
    padding: 0rem;
    list-style: none;
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    align-items: center;
}
li.normal{
    flex-basis: 20%;
    border-radius: 0.5rem;
    font-size: 1.25rem;
    text-align: center;
}
li.phone{
    display: none;
}
a.link_for_menu{
    text-decoration: none;
    color: var(--black);
}
a.link_for_menu:hover{
    color: var(--yellow);
    transition: all 350ms ease-out;
}


.main-content {
    display: flex;
    flex-direction: column;
    margin: 10vh 10vh;
    border-style: solid;
    border-color: var(--darkblue);
    border-radius: 0.5rem;
    padding: 2.5vh 5vh 5vh 5vh;
}

.default-button {
    background-color: var(--lightgreen);
    border-style: double;
    border-radius: 3%;
    border-color: var(--darkblue);
    margin-top: 3vh;
    padding: 1vh 2vh 1vh;
    font-weight: bold;
    text-transform: uppercase;
    color: var(--darkblue);
}

.default-title {
    font-size: large;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 2.5vh;
}


/* footer elements */
footer{
    border-top: 0.2rem solid black;
    padding: 0.5rem 0rem;
    background-color: var(--orange);

    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.p_footer{
    flex-basis: 90%;
    padding: 0.25rem;
    font-size: 85%;
    color: black;
    text-align: center;
}
.p_footer.copyright{
    font-size: 100%;
    color: black;
}



@media (max-width: 700px) {
    div.main-content {
        margin: 5vh 5vh;
        padding: 2.5vh 2.5vh;
    }
}

/* responsive header */
@media (max-width: 600px) {
    /* schimb logo-ul la dimensiune */
    div.site_logo{
        flex-basis: 25%;
    }
    div.site_name{
        flex-basis: 50%;
    }
    ul.header_options{
        flex-basis: 25%;
    }
}
@media (max-width: 500px) {
    ul.menu{
        width: 100%;
    }
    li.normal{
        display: none;
    }
    li.phone{
        display: contents;
    }
}
