form.hazi-form {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
}

.hazi-form > div > label, #hazi-dynamic-fields > div > label {
    display: flex;
    margin-top: 2vh;
    margin-bottom: 1vh;
    font-size: 2.5vh;
    font-weight: bold;
    text-transform: capitalize;
    color: var(--darkblue);
}

.hazi-form > div > input, #hazi-dynamic-fields > div > input[type=time] {
    height: 3vh;
    margin-bottom: 2vh;
    width: 35vh;
    background-color: var(--lightgreen);
    border-style: double;
    border-radius: 3%;
    border-color: var(--darkblue);
}

.hazi-input-width {
    width: 35vh;
    background-color: var(--lightgreen);
    border-style: double;
    border-radius: 3%;
    border-color: var(--darkblue);
}

#pet-selector {
    height: 10vh;
    margin-bottom: 2vh;
    width: 25vh;
    background-color: var(--lightgreen);
    border-style: double;
    border-radius: 3%;
    border-color: var(--darkblue);
}

.hazi-center-left-align {
    margin-left: auto;
    margin-right: auto;
}

.hazi-alert-paragraph {
    width: 90%;
    text-align: center;
    font-size: large;
    background-color: var(--orange);
    padding: 0.75vh 1.25vh;
    margin-bottom: 1vh;
    border: 2px solid;
    border-radius: 0.5vh;
}

.hazi-login-register-text {
    padding-top: 2vh;
    color: var(--darkblue);
    font-weight: 600;
}

.hazi-login-register-text a {
    text-decoration: none;
    color: var(--darkgreen);
    font-weight: 800;
}

.hazi-padding-top {
	padding: 5vh 0vh 0vh;
}
