body{
    margin: 0rem;
    padding: 0rem;
}

header{
    background-color:yellow;
    color: black;
    height: 5rem;

    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
}
div.site_logo{
    font-size: 1rem;
}
div.site_name{
    font-size: 2.25rem;
}
div.display_mode{
    font-size: 1 rem;
}

nav{
    background-color: yellow;
    height: 3.5rem;

    border-top: 0.05rem solid black;

    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;  
    justify-content: center;
    align-items: stretch;
}
nav:hover{
    border-top: 0.2rem solid black;

    transition: 100ms;
}

ul.menu{
    padding: 0rem;
    background-color: black;
    list-style: none;
    width: 60%;
    height: 1rem;
    
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-evenly;
}

li.option{
    background-color: yellow;
    color: grey;
    font-size: 1.25rem;
    text-align: center;

    flex-grow: 1;
    flex-basis: 0;  
}
li.option:hover{
    border-left: 0.1rem solid black;
    border-right: 0.1rem solid black; 
    color: black;
    transition: 250ms;
}

/* other things */

hr{
    margin: 0rem;
}