:root {
    --margin: 10px;
    --cell-size: 10rem;
    --darkblue: #0c1f2d;
    --darkgreen: #12644e;
    --lightgreen: #6ad6c8;
    --yellow: #fdf2c9;
    --orange: #ffd147;
}

.main {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.cell {
    width: var(--cell-size);
    margin: var(--margin);
    margin-top: calc(var(--margin) * 2);
    flex-wrap: wrap;
    align-items: center;
    border-radius: 5px;
    border: 1px solid var(--lightgreen);
    padding: 5px;
    text-align: center;
}

.cell-group {
    border: 1px solid var(--darkblue);
    border-radius: 5px;
    flex-wrap: wrap;
    justify-content: space-around;
    display: flex;
    margin: 10px;
}

.column:nth-child(2n) {
    margin-top: 10rem;
}

.cell img {
    width: var(--cell-size);
    height: var(--cell-size);
    object-fit: contain;
}

@media (max-width: 1000) {
    .main {
        flex-direction: column;
    }
}

@media (max-width: 860px) {
    .main {
        align-items: center;
    }
    .cell-group {
        flex-direction: column;
    }
}

.inline-form {
    display: flex;
    flex-direction: column;
}