:root {
    --black: #1E1E24;
    --pink: #FF9FB2;
    --pinkhover: #FFC2CE;
    --blue: #0B3954;
    --purple: #8963BA;
    --red: #D16666;

    --darkblue: #0C1F2D;
    --darkgreen: #12644E;
    --lightgreen: #6AD6C8;
    --lightgreenhover: #78f0e0;
    --yellow: #FDF2C9;
    --orange: #FFD147;
    --orangehover: #FFDB70;
}

div.main-content{
    margin-bottom: 2vh;
}

section.pet_details{
    border: 0.1rem solid black;
    border-top: 0rem;
    border-radius: 0.5rem;
    background-color: white;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: stretch;
}
div.pet_detail{
    flex-basis: 19.7%;
    padding-top: 2.5vh;
    padding-bottom: 2.5vh;
}
div.pet_detail.border-right{
    border-right: 0.1rem solid black;
}
h5.pet_detail_title{
    margin-left: 1.5vh;
    margin-right: 1.5vh;
    margin-bottom: 5vh;
    font-size: 100%;
    font-weight: bold;
    text-align: center;
}
p.content{
    padding: 0vh 2.5vh 0vh 2.5vh;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: center;
}

section.pet_links{
    padding: 7vh 0vh 0vh 0vh;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
}
p.pet_link{
    padding: 1.25vh 2.5vh;
    border: 0.2rem outset var(--lightgreen);
    border-radius: 1.5rem;
    width: 5rem;
    background-color: white;
    text-align: center;
    transition: all 500ms ease-out;
}
p.pet_link:hover{
    background-color: var(--lightgreen);
    color: white;
}
p.pet_link.left{
    margin-right: 1.25vh;
}
p.pet_link.right{
    margin-left: 1.25vh;
}
a.link_for_pet{
    text-decoration: none;
    color: black;
}

@media (max-width:900px)
{
    div.pet_detail{
        flex-basis: 100%;
    }
    div.pet_detail.border-right{
        border-right: none;
    }
}
@media (max-width:300px)
{
    section.pet_links{
        flex-wrap: wrap;
        row-gap: 2.5vh;
    }
    p.pet_link.left{
        margin-right: 0;
    }
    p.pet_link.right{
        margin-left: 0vh;
    }
}