:root {
    --black: #1E1E24;
    --pink: #FF9FB2;
    --pinkhover: #FFC2CE;
    --blue: #0B3954;
    --purple: #8963BA;
    --red: #D16666;

    --darkblue: #0C1F2D;
    --darkgreen: #12644E;
    --lightgreen: #6AD6C8;
    --lightgreenhover: #78f0e0;
    --yellow: #FDF2C9;
    --orange: #FFD147;
    --orangehover: #FFDB70;
}

/* content - general */
body{
    background-color: var(--white);
}
div.main-content{
    margin: 0vh;
    border: 0vh;
    padding: 5vh;
    margin-top: 5vh;
    margin-bottom: 5vh;
    background-color: var(--white);
}
h2.default-title{
    margin: 5vh;
    font-size: 1.5rem;
    color: var(--darkblue);
    text-align: center;
}



/* content - my profile, my pets & my groups*/
div.panel{
    padding-top: 2.5vh;
    padding-bottom: 2.5vh;
    width: 100%;
    border: 0.1rem outset black;
    border-radius: 0.5rem;
    background-color: var(--lightgreen);
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    row-gap: 0.75rem;
}
div.panel.friends{
    background-color: var(--pink);
}
h3.subtitle{
    position: relative;
    flex-basis: 100%;
    margin: 0vh;
    padding: 0rem 2.5rem 1.75rem 2.5rem;
    font-size: 150%;
    text-align: center;
}
p.details{
    margin: 0vh;
    opacity: 0.75;
    flex-basis: 100%;
    text-align: center;
    color: var(--darkblue);
}

img.plus{
    width: 100%;
    height: 100%;
    transition: all 500ms ease-out;
}
img.plus:hover{
    transform: scale(1.25);
}


/* content - my profile */
div.user_profile{
    border: 0.1rem solid black;
    border-top: 0rem;
    border-radius: 0.5rem;
    padding-top: 2.5vh;
    padding-left: 2.5vh;
    padding-bottom: 2.5vh;
    background-color: white;
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: left;
    align-items: center;
    row-gap: 2.5vh;
}
p.user-details{
    flex-basis: 49%;
    padding: 0rem;
    color: black;
}
p.data{
    flex-basis: 49%;
    padding: 0rem;
    color: black;
}


/* content - my pets */
div.pets{
    border: 0.1rem solid black;
    border-top: 0rem;
    border-radius: 0.5rem;
    padding-top: 7.5vh;
    padding-bottom: 7.5vh;
    background-color: white;
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    row-gap: 6vh;
}
div.pet{
    flex-basis: 25%; /* only 3 items per row */

    border: 0.2rem outset var(--lightgreen);
    border-radius: 0.5rem;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    text-align: center;

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    transition: all 500ms ease-out;
}
div.pet.friends{
    border: 0.2rem outset var(--pink);
}
div.pet:hover{
    outline: 0.2rem outset var(--lightgreen);
    box-shadow: 0 10px 14px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    transform: scale(1.025);
}
div.pet.friends:hover{
    outline: 0.2rem outset var(--pink);
}
h3.pet_name{
    margin: 2.5vh;
    font-size: 1.25rem;

    flex-basis: 100%;
}
div.photo_container{
    flex-basis: 100%;
}
img.pet_photo{
    width: 120px;
    height: 120px;
}
p.pet_field{
    flex-basis: 40%;

    margin: 1vh;
    font-size: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
p.pet_field_output{
    flex-basis: 40%;

    margin: 1vh;
    font-size: 90%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
p.pet_field_output.meals{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
span.no_of_meals{
    flex-basis: 78%;
}
img.infomeals{
    flex-basis: 20%;
    width: 20%;
    height: 20%;
    cursor: pointer;
}
section.pet_links{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
p.pet_field.with_link{
    margin: 2vh;
    margin-bottom: 0vh;
    position: relative;
    flex-basis: 0;
    width: fit-content;

    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: left;
}
p.pet_field.with_link.last{
    margin: 2vh;
}
a.link{
    text-decoration: none;
    color: black;
}
a.link.for_pet::after{
    content: '';
    position: absolute;
    bottom: -5px;
    display: block;
    background-color: var(--lightgreen);
    height: 5px;
    width: 0%;
    transition: all 750ms ease-out;
}
a.link.for_pet.friends::after{
    background-color: var(--pink);
}
a.link.for_pet:hover::after{
    opacity: 1;
    width: 100%;
}
img.new_page{
    width: 75%;
    height: 75%;
}
p.pet_field.delete{
    margin: 2vh;
    border-radius: 0.5rem;
    flex-basis: 0;
    color: var(--red);
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    transition: 500ms ease-out;
}
p.pet_field.delete:hover{
    background-color: var(--red);
    color: white;
}
a.delete{
    text-decoration: none;
    padding: 0.5vh;
    border: 0.1rem solid var(--red);
    border-radius: 0.5rem;
    width: 100%;
    height: fit-content;
    color: var(--red);
    transition: all 500ms ease-out;
}
a.delete:hover{
    color: white;
}
div.new_pet{
    opacity: 0.75;
    flex-basis: 25%;

    display: flex;
    flex-wrap:nowrap;
    justify-content: center;
    align-items: center;
}
div.space{
    height: 10vh;
}


/* content - my groups */
a.join_group{
    text-decoration: none;
    border-radius: 0.5rem;
}
p.join_group{
    flex-basis: 100%;
    margin: 0vh;
    padding: 1.25vh 2.5vh;
    border: 0.1rem outset var(--purple);
    border-radius: 0.5rem;
    background-color: white;
    color: var(--purple);
    text-align: center;
    transition: all 500ms ease-out;
}
p.join_group:hover{
    background-color: var(--purple);
    color: white;
}
div.groups{
    border: 0.1rem solid black;
    border-top: 0rem;
    border-radius: 0.5rem;
    padding-top: 7.5vh;
    padding-bottom: 7.5vh;
    background-color: white;

    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    row-gap: 10vh;
}
div.group{
    flex-basis: 45%; /* only 2 items per row */

    border: 0.2rem outset var(--lightgreen);
    border-radius: 0.5rem;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    text-align: center;

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    transition: all 500ms ease-out;
}
div.group:hover{
    outline: 0.2rem outset var(--lightgreen);
    transform: scale(1.025);
}
h3.group_name{
    margin: 5vh;
    margin-left: 2.5vh;
    margin-right: 2.5vh;
    font-size: 1.25rem;

    flex-basis: 100%;
}
section.group_links{
    display: block;
}
p.group_field.delete{
    margin: 2vh;
    flex-basis: 0;
    padding: 0.5vh;
    border: 0.1rem solid var(--red);
    border-radius: 0.5rem;

    color: var(--red);
    cursor: pointer;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    transition: 500ms ease-out;
}
p.group_field.delete:hover{
    background-color: var(--red);
    color: white;
}
div.new_group{
    opacity: 0.75;
    flex-basis: 45%;

    display: flex;
    flex-wrap:nowrap;
    justify-content: center;
    align-items: center;
}


/* responsive design */
@media (max-width:950px){
    div.main-content{
        margin-top: 2.5vh;
        margin-bottom: 2.5vh;
    }
    div.pet{
        flex-basis: 37.5%;
    }
    div.new_pet{
        flex-basis: 37.5%;
    }
    div.group{
        flex-basis: 37.5%;
    }
    div.new_group{
        flex-basis: 37.5%;
    }
}
@media (max-width:650px){
    div.main-content{
        padding-top: 2.5vh;
        padding-bottom: 2.5vh;
    }
    div.pet{
        flex-basis: 80%;
    }
    div.new_pet{
        flex-basis: 80%;    
    }
    div.group{
        flex-basis: 80%;
    }
    div.new_group{
        flex-basis: 80%;
    }
}

